

.filter-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.25rem;
    margin: 1.25rem 0;
    padding: 1.25rem;
    background-color: #f0f0f0;
    border-radius: 0.5rem;
}


.filter-button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 10px 15px;
    background-color: #591212; 
    color: white; 
    border: none; 
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

.filter-button:focus {
    outline: 2px solid #e44d26; 
    outline-offset: 2px;
}

.filter-button.active {
    background-color: #e44d26;
    transform: scale(1.1);
    transition: background-color 0.3s, transform 0.2s ease-in-out;
}

.filter-button:hover {
    background-color: #e0e0e0; 
    color: #333333; 
}


#sort-select, #price-range {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    background-color: #2fc36a;
}

#price-value {
    font-weight: bold;
    margin-left: 10px;
    color: #591212;
}

.error-message {
    position: relative; 
    padding: 10px 40px 10px 10px; 
}

.error-message::after {
    content: "✖"; 
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
    color: #e44d26;
    font-size: 1.2rem;
}


@media (max-width: 768px) {
    .filter-container {
        flex-direction: column;
        align-items: center; 
        padding: 10px; 
    }

    .filter-button {
        width: 100%; 
        margin-bottom: 10px; 
    }

.filter-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    margin: 1rem;
    padding: 1rem;
}


.filter-button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 10px 15px;
    color: black; 
    border: none; 
    border-bottom: 1px solid #000000;
    background-color: #F9F9F9;
    border-radius: 1px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

.filter-button.active {
    background-color: #c4c2c2;
    transform: scale(1.1);
    transition: background-color 0.3s, transform 0.2s ease-in-out;
    outline: none;
}


#sort-select {
    padding: 10px;
    border-radius: 1px;
    border: none;
    border-bottom: 1px solid black;
    background-color: #F9F9F9;
    cursor: pointer;
}

/* Sort and Price Range */
#price-range, #price-value {
    display: none;
}


#price-value {
    font-weight: bold;
    margin-left: 10px;
    color: #591212;
    
}

.error-message {
    position: relative; 
    padding: 10px 40px 10px 10px; 
}

.error-message::after {
    content: "✖"; 
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
    color: #e44d26;
    font-size: 1.2rem;
}


@media (max-width: 768px) {
    .filter-container {
        flex-direction: column;
        align-items: center; 
        padding: 10px; 
    }

    .filter-button {
        width: 100%; 
        margin-bottom: 10px; 
    }
}